<!DOCTYPE html>
<html>
<head>
    <title>CSV Visualizer</title>
</head>
<body style="font-family: Arial; text-align:center; margin-top:50px;">

    <h1>CSV Data Visualizer</h1>

    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".csv" required>
        <br><br>
        <button type="submit">Upload & Generate Graph</button>
    </form>

    {% if plot_url %}
        <h2>Generated Graph</h2>
        <img src="{{ url_for('static', filename=plot_url) }}" width="600">
    {% endif %}

</body>
</html>
